@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/reference/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet" />
    <script src="~/reference/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/reference/bootstrap-3.4.1/js/bootstrap.js"></script>
</head>
<body>

    <div class="container" style="margin:10px 10px 10px 10px;padding:10px 10px 10px 10px">
        <form class="form-inline" role="form">
            <div class="input-group">
                <label class="input-group-addon">请输入料号</label>
                <input type="text" class="form-control" placeholder="" id="id_input_searchbom">
            </div>
            <div class="input-group">
                &nbsp;<button type="button" class="btn btn-primary" id="id_searchBom">查询子料号</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" id="id_addChild" data-toggle="modal" data-target="#modal_addchild">添加子料号</button>
            </div>
        </form>
    </div>
    <div class="container table-responsive" style="margin-top:20px">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="info" style="visibility: hidden" id="id_thead_bomList">
                    <th>子料号</th>
                    <th>名称</th>
                    <th>数量</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="id_table_bomList"></tbody>
        </table>
    </div>



    <!-- 模态框（Modal） -->
    <div class="modal fade" id="modal_addchild" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加子节点
                    </h4>
                </div>
                <div class="modal-body">
                    <label style="display:block">请输入子料号</label>
                    <input type="text" class="form-control" id="id_input_addChild" style="width: 200px; display: inline;" />&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" id="id_button_addChild">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>


<script type="text/javascript">
    $("#id_searchBom").click(function () {
        var itemCode = $("#id_input_searchbom").val();
        SearchBomByCode(itemCode);
    });

    function DelBom(id) {
        if (window.confirm("你确定真的要删除吗")) {
            $.ajax({
                type: "GET",
                url: "/ProductManage/Product/DelBomById",
                data: { "bomId": id },
                dataType: "JSON",
                success: function (resObj) {
                    if (resObj.IsSuccess) {
                        debugger
                        var itemCode = $("#id_searchbom_text").val();
                        SearchBomByCode(itemCode);
                    } else {
                        alert(resObj.Message);
                    }

                }
            });



        } 
    }

    //通过料号得到bom关系
    function SearchBomByCode(itemCode) {
        //清除内容
        $("#id_table_bomList").empty();
        //得到bom数据
        $.ajax({
            type: "GET",
            url: "/ProductManage/Product/SearchBomByCode",
            data: { "itemCode": itemCode },
            dataType: "JSON",
            success: function (resObj) {
                if (resObj.IsSuccess) {
                    $("#id_thead_bomList").css("visibility", "visible");
                    var bomList = $.parseJSON(resObj.ResultString);
                    var tbody;
                    $.each(bomList, function (i, bom) {
                        var each_tr = "<tr><td>" + bom.ChildItemCode + "</td><td>" + bom.ChildItemName + "</td><td>" + bom.ChildItemCount + "</td><td><button class=\"btn btn-danger\" onclick=DelBom(" + bom.Id + ")>删除</button></td><tr>";
                        tbody = tbody + each_tr;
                    });
                    $("#id_table_bomList").append(tbody);
                    $("table td").css("vertical-align", "middle");
                } else {
                    alert(resObj.Message);
                }

            }
        });
                }


    $("#buttonId_addChildCode").click(function () {
        var childItem = $("#id_input_addChild").val();
        var parentItem = $("#id_input_searchbom").val();
    });


</script>