<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Home/sharestyle.css" rel="stylesheet" />
    <link href="~/css/Home/main.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Home/lhgdialog.min.js?self=true&skin=iblue"></script>
</head>
<body>
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
</body>
</html>

