@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <style type="text/css">
        html, body {
            margin: 0px;
            font-family: Arial, Sans-Serif; /*font-size: 62.5%;*/
            font-size: 12px;
            height: 100%;
            padding: 2px 4px 4px 0px;
            overflow: hidden;
        }
    </style>
    <style type="text/css">
        .sidebar {
            width: 5px;
            height: 500px;
        }

            .sidebar .btn {
                width: 5px;
                height: 39px;
                margin-top: 200px;
            }

                .sidebar .btn:hover {
                    background-position: 0 -39px;
                }

        .fleft {
            float: left
        }
    </style>

    <link href="~/css/Home/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/Home/jquery-1.8.3.min.js"></script>
    <script src="~/js/Home/jquery-ui.js"></script>
    <script src="~/js/Home/jquery.contextMenu.js"></script>
    <script src="~/js/Home/jquery.cleverTabs.js"></script>
    <script type="text/javascript">
        var tabs;
        $(function () {
            var h = $(document).height() - 35;
            $("#tabs").height(h);
            tabs = $('#tabs').cleverTabs();
            $(window).bind('resize', function () {
                tabs.resizePanelContainer();
            });

            tabs.add({
                url: '/ProductManage/Product/ItemIndex',
                label: '料号管理',
                //开启Tab后是否锁定(不允许关闭，默认: false)
                lock: false
            });
            /*            $('input[type="button"]').button();*/

        });
        function addTab(url, name) {
            tabs.add({
                url: url,
                label: name
            });
        }
        $(function () {
            $("#divFolding").click(
                function () { self.parent.hideShowFrame(); }
            );
        });
    </script>

</head>
<body>
    <div class="sidebar fleft"><div class="btn" id="divFolding"></div></div>
    <div id="tabs" style="overflow:hidden; padding-top:0px; height:400px;">
        <ul>
        </ul>
    </div>
</body>
</html>
