<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>财务管理 @ViewBag.Title</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/IndexStyle/sharestyle.css" rel="stylesheet" />
    <link href="~/css/IndexStyle/main.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/IndexStyle/lhgdialog.min.js?self=true&skin=iblue"></script>
</head>
<body>
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
</body>
</html>